@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>Black Mesa Research Facility</h1>
</div>

<div class="row">
    <div class="col-md-4">
        <h2>Welcome To The Future Of Quantum Physics</h2>
        <p>
            The Black Mesa research facility is researching and developing technology related to quantum physics. With a series of grants from the US military,
            we plan to use this science for the betterment of mankind.
        </p>
    </div>
</div>